
.app-wrapper {
    position: relative;
    left: 550px;
    top: 100px;
    width: 350px;
    height: 200px;
    margin-top: 100px;
    border: solid 3px gold;
    border-radius: 10px;
    background-color: burlywood;
}

.count {
    position: relative;
    background-color: gold;
    text-align: center;
    width: 300px;
    height: 100px;
    margin-left: 25px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    border: solid 3px goldenrod;
}

.inc {
    position: relative;
    background-color: burlywood;
    margin-top: 10px;
    margin-left: 40px;
    width: 90px;
    height: 30px;
    border-radius: 7px;
}

.number {
    text-size: 10px;
}

.endCount {
    color: red
}

.noinc {
    opacity: 0.5;
    position: relative;
    background-color: burlywood;
    margin-top: 10px;
    margin-left: 40px;
    width: 90px;
    height: 30px;
    border-radius: 7px;
}

.reset {
    position: relative;
    background-color: burlywood;
    margin-left: 100px;
    width: 90px;
    height: 30px;
    border-radius: 7px;
}

.stopReset {
    opacity: 0.5;
    position: relative;
    background-color: burlywood;
    margin-left: 100px;
    width: 90px;
    height: 30px;
    border-radius: 7px;
}
